# Coral Bleaching
## Predicting the Likelihood and Severity of Coral Reef Bleaching Events Based on Various Environmental Factors

Authors: Jaimie Chin & Maro Aboelwafa  
Course: DS.UA.301 - Advanced Topics in Data Science: Machine Learning for Climate Change  
Date: 22 March 2023

## Background
The climate issue we are tackling is predicting the likelihood and severity of coral reef bleaching events based on various environmental factors. Coral reefs are sensitive to environmental changes such as temperature, salinity, nutrient levels and water acidity. When these factors reach certain thresholds, they  trigger coral bleaching, a process in which the coral expels the symbiotic algae that live on it, causing the coral to turn white and possibly die.

To address this, we aim to use machine learning to analyze datasets of environmental data, such as water temperature to develop algorithms that can predict the likelihood and severity of coral bleaching events.

### Data 
We will be using the Bleaching and environmental data for global coral reef sites (1980-2020) from the Biological & Chemical Oceanography Data Management Office. The data includes information on the presence and absence of coral bleaching, allowing comparative analyses and the determination of geographical bleaching thresholds, together with site exposure, distance to land, mean turbidity, cyclone frequency, and a suite of sea-surface temperature metrics at the times of survey. 

Data Server: [Bleaching and Environmental Data](http://dmoserv3.whoi.edu/jg/info/BCO-DMO/Coral_Reef_Brightspots/bleaching_and_env_data%7Bdir=dmoserv3.whoi.edu/jg/dir/BCO-DMO/Coral_Reef_Brightspots/,data=dmoserv3.bco-dmo.org:80/jg/serv/BCO-DMO/Coral_Reef_Brightspots/global_bleaching_environmental.brev0%7D?)

## Import Packages

In [19]:
# Import packages & libraries 
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Load Dataset

In [20]:
# Import Global Bleaching & Environmental Data 
data_path = "data/global_bleaching_environmental.csv"
types = {'Distance_to_Shore': float, 'Turbidity': float, 'Percent_Bleaching': float}
bleach_df = pd.read_csv(data_path, sep='\s*[,]\s*', engine='python', na_values=['nd'], dtype=types)

In [21]:
# View sample of the data 
bleach_df.sample(5)

,Site_ID,Sample_ID,Data_Source,Latitude_Degrees,Longitude_Degrees,Ocean_Name,Reef_ID,Realm_Name,Ecoregion_Name,Country_Name,...,TSA_FrequencyMax,TSA_FrequencyMean,TSA_DHW,TSA_DHW_Standard_Deviation,TSA_DHWMax,TSA_DHWMean,Date,Site_Comments,Sample_Comments,Bleaching_Comments
40354,8784,10316743,Reef_Check,25.0344,-80.3417,Atlantic,25N80W3,Tropical Atlantic,Bahamas and Florida Keys,United States,...,8.0,0.0,0.0,0.93,10.01,0.21,1997-06-28,NaN,NaN,NaN
30099,4584,10320198,Reef_Check,18.4246,-78.2508,Atlantic,78.15.050W.18.25.474N,Tropical Atlantic,Jamaica,Jamaica,...,8.0,1.0,0.0,1.14,7.22,0.37,2014-09-09,NaN,NaN,NaN
20254,8299,10321128,Reef_Check,9.4261,97.8970,Indian,97.53.49.3E.9.25.33.9N,Western Indo-Pacific,Andaman Sea,Thailand,...,6.0,1.0,0.0,1.20,8.27,0.41,2005-02-25,NaN,NaN,NaN
26559,181,10315050,Reef_Check,-27.4720,153.4099,Pacific,153.409936E.27.472029S,Temperate Australasia,Moreton Bay eastern Australia,Australia,...,8.0,1.0,0.0,1.90,13.10,0.62,2016-11-21,NaN,NaN,NaN
18137,7177,10319658,Reef_Check,10.0119,125.0156,Pacific,720938E.1107405N,Central Indo-Pacific,South-east Philippines,Philippines,...,11.0,2.0,0.0,1.91,14.86,0.78,2006-05-24,NaN,NaN,NaN

## Data Cleaning & Exploration
* Attribute Information & Null values 
* Distributions of each attribute 
* Visualizations
* Correlation Matrix

In [22]:
# Let's first see how large our dataset is for evaluation 
bleach_df.shape

(41361, 62)

### Feature Information & Null Values 
Let's observe our features to determine what could be used in our model analysis

In [23]:
# Let's see out features and datatypes 
bleach_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41361 entries, 0 to 41360
Data columns (total 62 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Site_ID                                41361 non-null  int64
 1   Sample_ID                              41361 non-null  int64
 2   Data_Source                            41361 non-null  object
 3   Latitude_Degrees                       41361 non-null  float64
 4   Longitude_Degrees                      41361 non-null  float64
 5   Ocean_Name                             41361 non-null  object
 6   Reef_ID                                28821 non-null  object
 7   Realm_Name                             41361 non-null  object
 8   Ecoregion_Name                         41358 non-null  object
 9   Country_Name                           41360 non-null  object
 10  State_Island_Province_Name             41262 non-null  object
 11  City_Town_Name                         40228 non-null  object
 12  Site_Name                              6932 non-null   object
 13  Distance_to_Shore                      41359 non-null  float64
 14  Exposure                               41361 non-null  object
 15  Turbidity                              41355 non-null  float64
 16  Cyclone_Frequency                      41361 non-null  float64
 17  Date_Day                               41361 non-null  int64
 18  Date_Month                             41361 non-null  int64
 19  Date_Year                              41361 non-null  int64
 20  Depth_m                                39562 non-null  float64
 21  Substrate_Name                         28693 non-null  object
 22  Percent_Cover                          28906 non-null  float64
 23  Bleaching_Level                        22531 non-null  object
 24  Percent_Bleaching                      34515 non-null  float64
 25  ClimSST                                41248 non-null  float64
 26  Temperature_Kelvin                     41213 non-null  float64
 27  Temperature_Mean                       41229 non-null  float64
 28  Temperature_Minimum                    41229 non-null  float64
 29  Temperature_Maximum                    41229 non-null  float64
 30  Temperature_Kelvin_Standard_Deviation  41229 non-null  float64
 31  Windspeed                              41232 non-null  float64
 32  SSTA                                   41213 non-null  float64
 33  SSTA_Standard_Deviation                41229 non-null  float64
 34  SSTA_Mean                              41229 non-null  float64
 35  SSTA_Minimum                           41185 non-null  float64
 36  SSTA_Maximum                           41229 non-null  float64
 37  SSTA_Frequency                         41213 non-null  float64
 38  SSTA_Frequency_Standard_Deviation      41229 non-null  float64
 39  SSTA_FrequencyMax                      41229 non-null  float64
 40  SSTA_FrequencyMean                     41229 non-null  float64
 41  SSTA_DHW                               41213 non-null  float64
 42  SSTA_DHW_Standard_Deviation            41229 non-null  float64
 43  SSTA_DHWMax                            41229 non-null  float64
 44  SSTA_DHWMean                           41229 non-null  float64
 45  TSA                                    41213 non-null  float64
 46  TSA_Standard_Deviation                 41229 non-null  float64
 47  TSA_Minimum                            41229 non-null  float64
 48  TSA_Maximum                            41229 non-null  float64
 49  TSA_Mean                               41229 non-null  float64
 50  TSA_Frequency                          41213 non-null  float64
 51  TSA_Frequency_Standard_Deviation       41229 non-null  float64
 52  TSA_FrequencyMax                       41229 non-null  float64
 53  TSA_FrequencyMean                      41229 non-null  float64
 54  TSA_DHW                                41213 non-null  float64
 55  TSA_DHW_Standard_Deviation             41229 non-null  float64
 56  TSA_DHWMax                             41229 non-null  float64
 57  TSA_DHWMean                            41229 non-null  float64
 58  Date                                   41361 non-null  object
 59  Site_Comments                          2257 non-null   object
 60  Sample_Comments                        2958 non-null   object
 61  Bleaching_Comments                     2669 non-null   object
dtypes: float64(41), int64(5), object(16)
memory usage: 19.6+ MB

In [24]:
# Let's see our null values for each feature 
# Number of missing data within each attribute
bleach_df.isna().sum()

Site_ID                   0
Sample_ID                 0
Data_Source               0
Latitude_Degrees          0
Longitude_Degrees         0
                      ...
TSA_DHWMean             132
Date                      0
Site_Comments         39104
Sample_Comments       38403
Bleaching_Comments    38692
Length: 62, dtype: int64

## Feature Selection
* Adding, Dropping Features of Importance 
* Encoding Features 
* Discard Unnecessary Features 
* Impute missing information if necessary

## Model Implementation
* Random Forest
* Gradient Boosting 
* ANN

## Evaluation & Analysis 
* Accuracy
* Precision
* Recall
* F1 score

## Optimization
* Cross-Validation
* Grid-Search

## Final Evaluation & Analysis
* Accuracy
* Precision
* Recall
* F1 score

## Final Visualizations 
* Plot coral bleaching severity?